html {
  scrollbar-color:rgb(218, 102, 153)  rgb(248, 172, 205); 
}
#create_character{
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}

.warning_message{
    position: absolute;
    top: 0;
    display: flex;
    width: 30vw;
    height: 20vh;
    background-color: mistyrose;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.warning_message > p{
    font-size: 1.5rem;
    font-family: Rubik, Verdana, sans-serif;
}
.warning_message > button{
    display: flex;
    align-items: center;
    width: 5px;
    height: 5px;
}


.icon_display{
    position: relative;
    display: flex;
    gap: 50px;
    overflow-x: auto;
    background-color: rgb(218, 102, 153); 
    border-radius: 20px;
    width: 40vw;
    height: 20vh;
    min-height: 10vh;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1;
    margin-top: 5vh;
   
}

.icon_display img:hover{
    transform: scale(0.7);
}
.icon_display img{
    transform: scale(0.6);
    margin-bottom: -18px;
}
.icons{
   min-width: 10vw;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: -18px;
   
  
}
.icons > p{
    font-family: Rubik, Verdana, sans-serif;
}

#options_display{
    position: relative;
    background-color: rgba(255, 255, 255, 0.74);
    min-height: 80vh;
    border-radius: 20px;
    width: 40vw;
    margin-top: -5vh;
    z-index: 0;
    overflow-x: auto;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-shrink: 0;
    
    
}

#character_preview_background{
    position: relative;
    background-color: rgba(255, 255, 255, 0.74);
    height: 80vh;
    border-radius: 20px;
    width: 30vw;
    margin-top: 10vh;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);


}
.single_option{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items:  center;
    flex-shrink: 0;
}

#Character_preview{
    position: relative;
    display: inline-block;
  
}

.body{
     display: block;
     z-index: 2;
}

.hair, .top, .bottom, .dress {
    position: absolute;
    z-index: 10;
    top: 0px;     
    left: 0px;     
}

